.post--wrapper {
    .post--card {
        padding: 0 0 25px;
        margin: 0 0 25px;
        border-bottom: 1px solid #ececec;

        a {
            color: $primaryColor;
            text-decoration: none;

            .title {
                font-weight: 700;
                font-size: 22px;
                line-height: 1.25;

                @include lg-up {
                    font-size: 38px;
                }
            }
        }
    }
}