.home--intro {
    padding: 2.5vw 0;
    margin: 0 0 2.5vw;
    font-size: 22px;
    border-bottom: 2px solid #eee;
    line-height: 1.5;
}

.latest--posts {
    padding: 0 0 2.5vw;
}

.post--wrapper {
    .post--card {
        padding: 0 0 25px;
        margin: 0 0 25px;
        border-bottom: 2px solid #eee;

        a {
            color: $primaryColor;
            text-decoration: none;

            .title {
                font-weight: 700;
                font-size: 22px;
                line-height: 1.25;
            }
        }
    }
}