body,
html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    margin: 0;
    padding: 0;
}

@import url("https://use.typekit.net/pus7zdd.css");
@import url('https://rsms.me/inter/inter-ui.css');

* {
    box-sizing: border-box;
}

body {
    font-family: $mainSans;
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
}

button {
    &.menu--button {
        appearance: none;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        display: block;

        span {
            background-color: $primaryColor;
            width: 35px;
            height: 2px;
            display: block;

            &:not(:last-of-type) {
                margin: 0 0 10px;
            }
        }

        @include lg-up {
            display: none;
        }
    }
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;

    &.loaded {
        opacity: 0;
        visibility: hidden;
    }
}

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 0.15s;

    &.pace-inactive {
        opacity: 0;
    }

    .pace-progress {
        background: $accentColor;
        position: fixed;
        z-index: 99999999;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
    }
}


.container,
.wrapper {
    width: 90vw;
    margin: 0 auto;

    @include lg-up {
        width: 50vw;
    }
}

.wrapper {
    &.header {
        width: 75vw;
    }
}

.page--heading {
    @include bg;
    display: flex;
    align-items: center;
    text-align: center;
    color: $primaryColor;
    position: relative;
    margin: 0 auto;
    border-radius: 25px;
    padding-top: calc(5vh + 100px);
    padding-bottom: 5vh;

    @include lg-up {
        padding-top: calc(15vh + 100px);
        padding-bottom: 15vh;
    }

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .title--wrapper {
        h1 {
            &.page--title {
                font-weight: 700;
                font-size: 32px;
                line-height: 1.5;
                margin: 25px 0 0;
                background-color: #fff;
                display: inline;
                box-decoration-break: clone;
                padding: 5px;

                @include lg-up {
                    font-size: 52px;
                }
            }
        }
    }

    .avatar {
        margin: 25px 0;
        border-radius: 50%;

        @include md-down {
            width: 50px;
            height: 50px;
        }
    }

    .date--posted {
        margin: 0 0 5px;
    }

}

.tags {
    color: #fff;
    margin: 10px 0;

    span {
        &.post--tag {
            font-weight: 700;
            padding: 10px;
            display: inline-block;
            background: $accentColor;
            margin: 0 5px 0 0;
            font-size: 12px;
            border-radius: 3px;

            @include lg-up {
                font-size: 16px;
            }
        }
    }
}