header {
    &.site--header {
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 25px;
        color: $primaryColor;
        display: flex;
        align-items: center;

        .single & {
            position: absolute;
        }

        .logo {
            flex-grow: 1;

            a {
                color: $primaryColor;
                text-decoration: none;
            }

            img,
            svg {
                width: 150px;
                display: block;
            }

            svg {
                * {
                    fill: $primaryColor;
                }
            }
        }

        nav {
            &.site--nav {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                font-weight: 500;
                margin-right: 25px;

                @include md-down {
                    position: fixed;
                    top: 0;
                    right: -150%;
                    transition: right 0.5s;
                    height: 100%;
                    width: 100%;
                    background-color: $primaryColor;
                }

                &.open {
                    right: -25px;
                }

                ul,
                li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                ul {
                    display: flex;

                    li {
                        a {
                            color: #ffffff;
                            text-decoration: none;
                            display: block;
                            margin: 0 15px;
                            position: relative;

                            @include lg-up {
                                color: $primaryColor;
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 2px;
                                background: $primaryColor;
                                top: 50%;
                                transform: translateY(-50%);
                                transition: width 0.5s;
                            }
                        }

                        &:hover {
                            a {
                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}