.author--box {
    .wrap {
        display: flex;
    }

    .content {
        padding-left: 50px;
    }
}

.post--nav {
    .wrapper {
        display: flex;

        .next,
        .prev {
            width: 50%;
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}